/**
 * Generalelements
 */
body{
	color : #333;
	font-family : arial,sans-serif;
	overflow-y : scroll;
	}

header,footer,nav,article,section,aside,figure,figcaption{
	display : block;
	}

/**
 * Layoutofthemainpageelements
 */
#wrapper{
	margin : 0 auto;
	width : 960px;
	padding : 10px;
	}

/**
 * Layoutforheader
 */
#header{
	position : relative;
	margin-bottom : 40px;
	}
.sitetitle{
	position : absolute;
	top : 6px;
	left : 130px;
	font-size : 48px;
	}
.siteslogan{
	position : absolute;
	top : 65px;
	left : 130px;
	font-style : italic;
	color : #666;
	}

/**
 * Layoutfornavbar
 * 
 */
.navbar{
	display : block;
	background-color : #333;
	font-family : Verdana;
	padding : 0.5em;
	margin-bottom : 10px;
	}
.navbar a{
	background-color : #999;
	color : #fff;
	padding : 0.2em;
	text-decoration : none;
	}
.navbar a :hover{
	background-color : #666;
	padding : 0.5em 0.2em 0.5em 0.2em;
	}
.navbar a.selected{
	background-color : #fff;
	padding : 0.3em 0.2em 0.5em 0.2em;
	color : #333;
	}

/**
 * Layoutformain
 */
#main{
	min-height : 20em;
	}

/**
 * Layoutforfooter
 */
#footer{
	margin-top : 40px;
	border-top : 1px solid #ccc;
	padding-top : 15px;
	}
.sitefooter{
	color : #666;
}

/**
 * To be sorted
 */
figure {
	border : 1px solid rgb(50,50,50);
	margin : 1em;
	padding : 4px;
	text-align : center;
	-webkit-border-radius : 10px;
	-moz-border-radius : 10px;
	border-radius : 10px;
	}
figcaption {
	font-size : smaller;
	font-style : italic;
	padding-left : 1em;
	}
figure.right {
	margin-right : 0;
	}
figure.top {
	margin-top : 0;
	}
figure.fullwidth {
	margin-left : 0;
	margin-right : 0;
	}
footer#bottom {
	color : rgb(255,255,255);
	font : italic 0.8em Arial, Helvetica, sans-serif;
	}
footer.byline {
	border-top : 1px dashed rgb(50,50,50);
	clear : both;
	color : rgb(85,85,85);
	font-size : smaller;
	font-style : italic;
	margin-top : 2em;
	padding : 1em;
	}
footer.byline img {
	outline : 1px groove rgb(50,50,50);
	padding : 2px;
	}
.right {
	float : right;
	}
.left {
	float : left;
	}