a {
	color : #337ab7;
	background-color : #fff
}
a.back {
	border : 1px solid #FF0000;
	border-radius : 5px;
	padding : 5px;
	background-color : #FF0000;
	color : white;
	text-decoration : none;
}
a.back:hover {
	border : 1px solid #CC0000;
	border-radius : 5px;
	padding : 5px;
	background-color : #CC0000;
	color : white;
	text-decoration : none;
}